body
{
	background: #000000;
	color: rgb(255, 255, 255);
}

	.login_div1 , .login_div2
	{
		background: rgb(34, 32, 32);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
	color: white;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgb(0, 0, 0);
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
input{
	background-color:rgb(25, 22, 22) ;
}
